/* TODO: COLORS */

$worko-pink: #fb088c;
$worko-black: #212222;
$white-color: #FFFFFF;
$bg-color: #E5E5E5;


/* TODO: Sizes*/

$p-landing-mobile: 118px;
$p-info-landing-mobile: 24px;

$h1-mobile: 50px;
$p-mobile: 14px;
$p-button-mobile: 18px;

$p-footer-mobile: 26px;
$p-terms-mobile: 14px;
$input-email-mobile: 16px;
$p-contact-mobile: 18px;

/* desktop*/

$li-menu-desktop: 18px;

$p-landing-desktop: 217px;
$p-info-landing-desktop: 32px;
$p-contact-desktop: 24px;

$h1-desktop: 89.31px;
$p-desktop: 16px;
$p-button-desktop: 20px;

$p-footer-desktop: 35px;
$p-terms-desktop: 15px;
$input-email-desktop: 20px;
$p-contact-desktop: 25px;